body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero, .footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

button {
    color: white;
    background-color: grey;
}

ul {
    list-style: none;
}

.footer {
    color: #E5E7EB;
}

.header {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 16px;
    padding: 8px 16px;
}

img {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: auto; 
}

.hero-content {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    flex: auto;
    margin: 100px;
}

.hero-item {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo {
    border-radius: 50%;
    width: 90px;
    height: auto;
}

.player {
    width: 300px;
    height: auto;
    flex-shrink: 0;
}

.offer-section {
    text-align: center;
    margin-bottom: 64px;
}

.content {
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
    justify-content: center;
    color: grey;
    font-size: 20px;
    font-weight: 700;
}

.title-offer {
    margin-bottom: 32px;
    font-weight: extra-bold;
    font-size: 36px;
    color: #1F2937;
}

.mission-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.mission-statement-author {
    font-style: none;
    align-self: flex-end;
}

.card {
    background: #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    margin: 100px;
    color: white;
    display: flex;
    align-items: flex-start; /* Align items to the left */
    justify-content: space-around;
    gap: 16px;
    padding: 16px;
}

.sign-up {
    font-size: 12px;
    padding: 5px 10px; /* Adjust padding to make the button smaller */
    margin-left: 0; /* Ensure there's no margin on the left */
}

.join-mail {
    font-size: 16px;
    font-weight: bold;
}

.mail-content {
    font-size: 12px;
    color: #E5E7EB;
}

.sign-up {
    font-size: 12px;
    align-self: center;
    background-color: #3882F6;
    
}

.footer {
    text-align: center;
}